<div class="container">
  {{#each movies}}
  <div class="movie-list">
    <a href="/movie/{{title}}"><img class="img-circle" src="/images{{image}}" alt="{{name}}"></a>
    <p>{{title}}</p>
  </div>
  {{/each}}
</div>