<div class="container">
  {{#each movies}}
  <div class="movie-list">
    <a href="/movie/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <p>{{title}}</p>
  </div>
  {{/each}}
</div>